*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}
@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* CSS自定属性 */
:root{
	--main-color: #383838;
	--main-light: #797979;
	--accent-light:#f4e3b3;
	--boby-color:#efefef;
	--dark-color:#393939;
	--light-color:#fbfefd;
}
body{
}

body{
	background: var(--boby-color);
}

a{
	color: var(--dark-color);
}
.flex{
	display: flex;
	align-items: center;
}
/*========Header========*/
header{
	background: var(--main-color);
	padding: 2rem 1.5rem 5rem 1.5rem;
}
header nav{
	display: flex;
	justify-content: space-between;/*对齐*/
	align-items: center;
}
nav img{
	width: 45px;
	height: 45px;
}

nav p{
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--light-color);
	margin-right: 0.5rem;
}
.action-bar{
	width: 100%;
}

.action-bar .info{
	width: 100%;
	color: var(--light-color);
	flex: 1;
	text-align: center;
}
.action-bar a{
	color: var(--light-color);
}

/*=========main===========*/
main{
	padding: 1rem;
	padding-bottom: 4rem;
	background: var(--boby-color);
	border-radius: 35px 35px 0px 0px;
	position: relative;
	top: -3rem;
}
/*分类*/
.section-wrapper{
	background: #fff;
	box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
	padding: 1rem;
}

.flex-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ccc;
	padding-bottom: 2rem;
	padding: 1rem;
}
.section-wrapper h2{
	font-size: 1.2rem;
}
.section-wrapper a{
	font-size: 1.1rem;
	color: var(--main-color);
	font-weight: bold;
}

.items{
	width: 100%;
	margin: auto;
	margin-top: 1rem;
	display: flex;
	overflow-x: auto;
}
/*自定义滚轮条(隐藏)*/
.items::-webkit-scrollbar{
	width: 0rem;
}
.items::-webkit-scrollbar-track{
	width: 0rem;
}

.item{
	min-width: 100px;
	width: 150px;
	margin-right: 1.5rem;
}

.item-img{
	width: 100%;
	height: 100px;
	border-radius: 20px;
}

.item h4{
	font-size: 0.95rem;
	text-align: center;
	margin-top: 0.7rem;
}


/*!*热卖单品*!*/
/*.popular-img{*/
/*	height: 130px;*/
/*	width: 140px;*/
/*	border-radius: 20px;*/
/*	margin-right: 0.7rem;*/
/*}*/

.album.section-wrapper{
	margin-top: 2rem;
}
/*Footer*/
.bottom-nav{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.bottom-inner{
	position: relative;
}

.bottom-main{
	background: var(--main-color);
	display: flex;
	justify-content: space-between;
	padding: 1rem 4rem 0rem 4rem;
	border-radius: 30% 30% 0px 0px;
}

.nav-item-main{
	background-color: #f1f1f1;
	height: 70px;
	width: 70px;
	position: absolute;
	top: -20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 20;
	padding: 0.3rem;
	border-radius: 50%;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}

.nav-item-main div{
	border: 7px solid var(--main-color);
	height: 100%;
	width: 100%;
	border-radius: 50%;
	display: grid;
	place-items: center;
}
.nav-item-main span{
	font-size: 1.9rem;
	color: var(--main-color);
}

.nav-items{
	display: flex;
}

.nav-item{
	margin-right: 0rem;
	text-align: center;
}

.nav-item:last-child{
	margin-right: 0rem;
}

.nav-item span{
	display: block;
	color: var(--light-color);
	font-size: 1.6rem;
	margin-bottom: 0.3rem;
	transition: font-size 100ms;
}

.nav-item:hover span{
	font-size: 1.7rem;
}

.nav-item p {
	font-size: 0.9rem;
	font-weight: 600;
	color: var(--light-color);
}

/*=====================分类页面=======================*/

.category-items{
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(auto-fit,minmax(100px,2fr));
	grid-gap: 0.7rem;
	padding: 1.3rem 0rem;
	text-align: center;
}

.category-item .item-img{
	background: var(--main-light);

}
/*=====================歌手页面========================*/
.singer-title h3{
	text-align: center;
}
.songs.section-wrapper{
	margin-top: 2rem;
}
.album.section-wrapper{
	margin-top: 2rem;
}

.songs-item{
	margin-top: 0.5rem;
	text-align: center;

}

.songs-item hr{
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
}

/*.songs-item h4{*/
/*	text-align: center;*/
/*}*/

.songs-item p{
	text-align: center;
	margin-bottom: 1.5rem;
}
